{"filter":false,"title":"requirements.txt","tooltip":"/ITP4116M_FYP/code/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1645690487057,"hash":"7d1ed9f145aa046b7542dc6f2019ddfbb2b04709"}