nav.navbar.has-background-grey {
  height: 100px;
  position: relative;
}
nav.navbar.has-background-grey>.navbar-brand>.navbar-item>.image>.is-128x128{
  width: 360px;
  background-repeat: no-repeat;
  position: relative;
}
nav.navbar.has-background-grey .navbar-brand .navbar-item .navbar-burger .burger{
  left: 97%;
  top: 5%;
  position: fixed;
}

footer {
  background-color: Aqua;
}

.is-link
  .modal-button {
  background: #E17070;
  position: fixed;
  left: 92%;
  right: 73%;
  top: 93.41%;
  bottom: 2.53%;
  border-radius: 30px;
}

section img {
  width: 30px;
  border-radius: 20px;
}

hidden {
  display: none;
}