header.jumbotron {
  text-align: center;
  background-image: url(https://static.pexels.com/photos/8807/sopot.jpg);
  background-size: cover;
  background-position: center center;
  padding: 160px;
  color: white; }
