{"filter":false,"title":"requirements.txt","tooltip":"/env/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":9,"column":0},"end":{"row":10,"column":0},"action":"insert","lines":["Flask-SQLAlchemy==2.5.1",""],"id":2,"ignore":true},{"start":{"row":11,"column":0},"end":{"row":12,"column":0},"action":"insert","lines":["greenlet==1.1.2",""]},{"start":{"row":42,"column":0},"end":{"row":43,"column":0},"action":"insert","lines":["SQLAlchemy==1.4.29",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":25,"column":12},"end":{"row":25,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1642443711718,"hash":"9b6d3fde8bcc053483f4ef4513a344bb31069bf4"}