{% include 'necessaries/navbar.html' %}
{% block content %}
    <section class="section has-background-danger ">
    <h1 class="title">如何加入你餐廳的地圖</h1>
    <h2 class="subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa aperiam rem doloremque, facere dolor iste nulla fuga voluptatibus reiciendis possimus quo numquam molestiae nobis assumenda sapiente dolore voluptas omnis minus?</h2>
</section>
<!--Back to Top//-->
<div class="columns">
    <div class="column-is-half"><img src="{{ url_for('static',filename='picture/bandicam 2021-12-22 09-29-27-995.jpg') }}" /></div>
    <div class="column">
        <p class="title">234121</p>
        <p class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque facere voluptas odit amet? Adipisci harum molestias quasi aut, expedita totam error dolore at est voluptate blanditiis impedit dolores? Eaque, quam.</p>
    </div>
</div>
<div class="columns">
    <div class="column-is-half"><img src="{{ url_for('static',filename='picture/bandicam 2021-12-22 09-29-44-570.jpg') }}" /></div>
    <div class="column">
        <p class="title">234121</p>
        <p class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque facere voluptas odit amet? Adipisci harum molestias quasi aut, expedita totam error dolore at est voluptate blanditiis impedit dolores? Eaque, quam.</p>
    </div>
</div>
<div class="columns">
    <div class="column-is-half"><img src="https://placeholder.pics/svg/800x500" /></div>
    <div class="column">
        <p class="title">234121</p>
        <p class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque facere voluptas odit amet? Adipisci harum molestias quasi aut, expedita totam error dolore at est voluptate blanditiis impedit dolores? Eaque, quam. </p>
    </div>
</div>
<div class="container is-fullhd">
    <div class="notification is-primary">
        <p class="title">123141</p>
        <p class="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda facere ex unde molestiae fugit nam expedita adipisci perferendis deserunt molestias explicabo corporis provident cupiditate doloremque, qui voluptatum modi consequuntur voluptate.</p><label class="checkbox"><input type="checkbox" /></label>
    </div>
</div>
{% endblock %}