{% include 'necessaries/navbar.html' %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/restaurant.css') }}">
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/photobackground.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/restaurant.css') }}">
    <header class="jumbotron">
        {% if id %}{{ id }}{% endif %}<br>
            {% if id %}{{ id }}{% endif %}
    </header>
    <div class="columns">
        <div class="column is-8">
            <div class="columns">
    <div class="column is-full"><p class="wording">{% if restaurant %}{{ restaurant }}{% endif %}</div>
    </div>
            <br>
        <div class="columns">
            <div class="column is-full">
                <img src="https://picsum.photos/536/354" alt=""></div>
        </div>
        </div>
        <div class="column is-4">
            <img src="https://picsum.photos/536/354" alt="">
        </div>
    </div>
    div.columns.div

{% endblock %}

