{% include "necessaries/navbar.html" %}

{% block content %}

<section class="hero is-success">
  <div class="hero-body">
    <h1 class="title">搜查123</h1>
    <h2 class="subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit neque et nostrum id at sint aliquam ex officiis. Voluptatibus deserunt totam ea earum excepturi incidunt harum quibusdam consectetur sint voluptas.</h2>
  </div>
</section>
<article class="panel is-info">
  <p class="panel-heading">Info</p>
  <p class="panel-tabs"><a class="is-active">All</a><a>Public</a><a>Private</a><a>Sources</a><a>Forks</a></p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-info" type="text" placeholder="Search" /><span class="icon is-left"><i class="fas fa-search" aria-hidden="true"></i></span>
    </p>
  </div><a class="panel-block is-active"><span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span> bulma</a><a class="panel-block"><span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span> marksheet</a><a class="panel-block"><span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span> minireset.css</a><a class="panel-block"><span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span> jgthms.github.io</a>
</article>
{% endblock%}