{% include "necessaries/navbar.html" %}

{% block body %}

<section class="hero is-success">
  <div class="hero-body">
    <h1 class="title">搜尋Search</h1>
    <h2 class="subtitle">以下就是讓大家搜尋的頁面。</h2>
  </div>
</section>
<article class="panel is-info">
  <p class="panel-heading"></p>
  <p class="panel-tabs">
      <a class="is-active">全部 All</a>
      <a>新界 New Territories</a>
      <a>九龍 Kowloon</a>
      <a>港島 Hong Kong Island</a>
      <a>離島 Outlying islands </a>
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-info" type="text" placeholder="Search" /><span class="icon is-left"><i class="fas fa-search" aria-hidden="true"></i></span>
    </p>
  </div><a class="panel-block is-active"><span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span> bulma</a><a class="panel-block"><span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span> marksheet</a><a class="panel-block"><span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span> minireset.css</a><a class="panel-block"><span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span> jgthms.github.io</a>
</article>
{% endblock %}
{% block content %}
    {% include "necessaries/footer.html" %}
{% endblock %}
