<link rel="stylesheet" href="{{ url_for('static',filename='css/bulma.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='js/vue.min.js') }}">
{% include 'necessaries/navbar.html' %}
{% block content %}
    <script>
    var app = new Vue({
  el:'#app',
  data:{
    active:false,
    message: 'Welcome to Vue!',
      news:{
        title: '物件的使用',
        abstract: '此教取都熱、當照進交全臺選把筆！沒來的童一書來留然，速家師話微體媽濟但事隊樹育登同，加輪保人國角好來到與、夜最細靈過男不外明，大體在會因許我藥有進？了人的施三眼巴與子令不就過城指電加會難，出國年一機成了方角機招道、列出過不地家體……又間流體雲。',
        photo: 'https://picsum.photos/200/100/?random'
      }
  },
        delimiters:["[[","]]"],
  methods:{
    mouseOver: function(){
      this.active = !this.active;
    }
  }
});
/* $("#waittime").mouseenter(
  function(){
    $(this).css("background-color","#333");
    $(this).css("color","#fff");
    $(this).html("<p style='font-size:18px'>平均等候時間<p>");

}
  );*/

    </script>
<div id="app">
    <div class="container">
      <div class="card mx-auto mt-2" style="width: 1rem;">
        <img src="image" id="photo">
        <div class="card-body">
          <h5 class="card-title">restaurant.name</h5>
          <p class="card-text">restaurant.description</p>
        </div>
        <div class="is-flex p-2">地區:</div>
        <div class="container">
          <div class="columns card-content">
            <div class="column" id="waittime">
              <i class="fas fa-clock fa-4x"></i>
              <p>[[news.title]]分鐘</p>
            </div>
            <div class="column">
              <i class="fas fa-phone fa-4x"></i>
              <p>[[]]分鐘</p>
            </div>
          </div>
        </div>
        <div class="card-content">
          <ul class= "panel list-group list-group-flush">
                <li class="panel list-group-item button is-info" style="color:#ff0f"><i class="fas fa-comment-alt"></i>等位 Click to wait queue online</li>
                <li class="panel list-group-item button is-info breakWord"><i class="fas fa-info"></i>查看更多資料 Click to see more information</li>
          </ul>
        </div>
  </div>
    </div>
  </div>
    <!---->
{% endblock %}