{% include 'necessaries/navbar.html' %}
{% block contents %}
    <div class="table-container"></div>
<table class="table">
  <th>123S</th>
  <th>123</th>
    <th>可用餐桌</th>
    <th>選項Choice</th>
  <tbody>
    <tr>
      <td></td>
      <td> </td>
      <td></td>
      <td rowspan="4">
        <button class="button is-primary">新增Create +</button><br />
        <button class="button is-warning">移除Remove -</button><br />
        <button class="button is-link">接受Accept👌</button><br />
        <button class="button is-dark">拒絕Reject❌</button>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}