{% include 'necessaries/navbar.html' %}

  <html lang="en"><head>
  <meta charset="UTF-8">
  <title>CodePen - Vue</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">

</head>
  {% block body %}
<body>
<!-- partial:index.partial.html -->
<div id="app" class="container-fluid">
  <div class="alert alert-info mt-2" role="alert">
    <h5 class="text-center">新聞閱讀-依類別進行篩選</h5>
    <div class="row">
      <div class="col-6">
        <form action="">
          <div class="form-group"><label for="exampleFormControlSelect1"></label><select v-model='section' id="exampleFormControlSelect1" class="form-control">
            <option v-for="section in sections"> [[section]]</option>
          </select></div>
        </form>
      </div>
      <div class="col-6">
        <button class="btn btn-success" type="button" @click="getPostsByCategory(section)">按一下才會進行篩選</button>
      </div>
    </div>
  </div>
  <h3 class="text-center"> [[section | formatted]]</h3>
  <div class="row" v-for="posts in results">
    <div class="col-3" v-for="post in posts">
      <div class="card">
    <div class="card-header">[[post.title]]</div>
    <div class="card-body">
      <p class="card-text">[[post.abstract]]</p>
    </div></div></div></div></div>
<!-- partial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://www.unpkg.com/axios/dist/axios.min.js"></script><script src="./viewrestaurant.js"></script>

</body></html>
{% endblock %}
{% block content %}
    {% include "necessaries/footer.html" %}
{% endblock %}