{% include 'necessaries/navbar.html' %}
{% block content %}
    <header class="jumbotron">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi at deserunt dolorem eaque eos esse excepturi exercitationem impedit iste libero molestias, mollitia odio officia quae sapiente sunt tempora voluptatum.</p>
    </header>
    
    <div class="columns">
        <div class="column is-4">123</div>
        <div class="column is-4">123</div>
        <div class="column is-4">123</div>
    </div>
{% endblock %}