{% include 'necessaries/navbar.html' %}
{% block page_content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/arrow.css') }}">
    <header class="jumbotron has-background-info">
        <p class="title">123131</p>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi at deserunt dolorem eaque eos esse excepturi exercitationem impedit iste libero molestias, mollitia odio officia quae sapiente sunt tempora voluptatum.</p>
    </header>


<div class="columns is-fullhd">
  <div class="column is-3 is-narrow">
    <p class="arrow"><</p>
  </div>
  <div class="column is-6 is-narrow">
    <div class="box">
      <p class="is-size-1 has-text-centered">現在你的籌號</p>
      <div class="columns">
        <div class="column is-4">
          <div class="box front">5</div>
        </div>
        <div class="column is-4">
          <div class="box">{{ number }}</div>
        </div>
        <div class="column is-4">
          <div class="box end"> {{ number }}</div>
        </div>
      </div>
      <div class="box">後方有</div>
    </div>
    <div class="columns">
      <div class="column is-4">123</div>
    </div>
    <div class="columns">
      <div class="column is-4">123</div>
    </div>
  </div>
  <div class="column is-3 is-narrow">
    <p class="arrow">></p>
  </div>
</div>
{% endblock %}
{% block content %}
    {% include "necessaries/footer.html" %}
{% endblock %}